#AboutMeMain{
    background-color: #112031;
    color: white;
}

img {
    float: left;
    margin-right: 10px;
    clear:both;
    height: 500px;
    border-radius: 100px;
}
p {
    margin-left: 0px;
    overflow:auto;
    display:block;

}

#about{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.aboutMe{
    padding-left: 200px;
    padding-right: 200px;
}